body {
	width:750px;
}

#test.container-fluid {
	/* background-color: gray; */
	background-color: #efedf4;
}

#head.container-fluid {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#47266e
}


/* h1 {
	color: white;
	background-color: #47266e;
	margin:0;
} */

ul {
	list-style-type:none;
}

li {
	width:200px;
/*	word-break:keep-all;*/
}

.card-img-overlay {
	margin: auto;
	/* background-color: rgba(0,0,0,0.5); */
}

.card-title, .card-text {
	color:white;
	text-shadow:
        black 1px 1px 0, black -1px -1px 0,/*右下、左上*/
        black -1px 1px 0, black 1px -1px 0,/*右上、左下*/
        black 0px 1px 0, black  0-1px 0,/*右、左*/
        black -1px 0 0, black 1px 0 0;/*上、下*/
}

.card-img, .card-img-top{
	height:450px;
	width:100%;
	object-fit: cover;
	object-position: top;
}

/* #edge {
	text-shadow:
    black 2px 0px,  black -2px 0px,
    black 0px -2px, black 0px 2px,
    black 2px 2px , black -2px 2px,
    black 2px -2px, black -2px -2px,
    black 1px 2px,  black -1px 2px,
    black 1px -2px, black -1px -2px,
    black 2px 1px,  black -2px 1px,
    black 2px -1px, black -2px -1px;
} */

img,iframe {
	max-width: 100%;
}
